hostname {{ inventory_hostname }}
{% if interfaces is defined %}
{% for interface in interfaces %}
interface {{ interface.name }}
{% if interface.address is defined %}
 ip address {{ interface.address }} {{ interface.netmask }}
{% elif interface.ip is defined %}
 ip address {{ interface.ip }}
{% endif %}
 no shutdown
{% endfor %}
{% endif %}
{% if gateway is defined %}
ip default-gateway {{ gateway }}
{% endif %}
